
HW2_Writeup/HW2.fls
HW2_Writeup/HW2.aux
HW2_Writeup/HW2.fdb_latexmk
HW2_Writeup/HW2.log
HW2_Writeup/HW2.synctex.gz
HW2_Writeup/pdflatex84222.fls
HW3Part1/HW3Part1.aux
HW3Part1/HW3Part1.fdb_latexmk
HW3Part1/HW3Part1.fls
HW3Part1/HW3Part1.log
HW3Part1/HW3Part1.synctex.gz
HW2_Writeup/HW2.log
